.vg-title {font-size: 3.5rem;}
.vg-subtitle {font-size: 1.5rem;}
a {color: #0056B3;}
body {padding-top: 3.5rem;}
.navbar-nav > li > .dropdown-menu a:hover { background-color: #DDDDDD; }
nav > a:hover { color: #A6A6A6 !important; } 
li.nav-item > a:hover { color: #A6A6A6 !important; }
/* stop forgetting that this is not a comment */
#dropdown:link { color: #FFFFFF !important; }
.jumbotron {
  background-image:url('img/map.jpg');
  height: 16rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron .container-fluid {
  position: relative;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.ipa-pronunciation {
  font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif;
}
/* vanilla links are fbfbfb, navbar background is 343A40, colour i want to chage is 9a9da0 */
