{% extends "layout.html" %} {% block short_title %}Birding{% endblock %} {%
block title %}Birding{% endblock %} {% block subtitle %}Photographs and
checklists{% endblock %} {% block body %}
<main role="main" class="container">
  <div class="container" align="center">
    <p>
      Most of these photos are missing alt text and live on Flickr. I have plans
      to someday organize all of it in one place and add alt text but until
      then, I am collating these album links so they're all in one place.
    </p>
    <h4>
      <a
        href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157693819048894"
        >India 2017</a
      >
    </h4>
    <a
      data-flickr-embed="true"
      href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157693819048894"
      title="India birds"
      ><img
        src="https://live.staticflickr.com/784/40811484092_231a8e3649_z.jpg"
        width="640"
        height="480"
        alt="India birds"
    /></a>
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
    <br />
    <br />
    <h4>
      <a
        href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157688868923670"
        >Fraser Foreshore Park 2018</a
      >
    </h4>
    <a
      data-flickr-embed="true"
      href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157688868923670"
      title="Fraser Foreshore Park birds"
      ><img
        src="https://live.staticflickr.com/4776/40852564281_dd18521c74_z.jpg"
        width="640"
        height="480"
        alt="Fraser Foreshore Park birds"
    /></a>
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
    <br />
    <br />
    <h4>
      <a
        href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157690699467765"
        >Burnaby 2017</a
      >
    </h4>
    <a
      data-flickr-embed="true"
      href="https://www.flickr.com/photos/vasundhara_gautam/albums/72157690699467765"
      title="Vancouver birds"
      ><img
        src="https://live.staticflickr.com/4571/38875735222_75de6b7000_z.jpg"
        width="640"
        height="480"
        alt="Vancouver birds"
    /></a>
    <script
      async
      src="//embedr.flickr.com/assets/client-code.js"
      charset="utf-8"
    ></script>
  </div>
</main>
{% endblock %}
