{% extends "layout.html" %}

{% block short_title %}CV{% endblock %}

{% block title %}Curriculum Vitae{% endblock %}
{% block subtitle %}Full CV as of January 2021{% endblock %}

{% block body %}
    <main role="main" class="container">
      <div class="container" align="center">
        <p>If your browser does not support embedded PDFs, you can download a <a href="{{ url_for('static', filename='pdf/vasundhara_gautam_cv.pdf') }}">PDF copy of my CV</a>.</p>
        <!-- Is this the right way to do this?
             Email me if you know the right way
             (if it's inaccessible, it's not the right way ;) -->
        <embed src= "{{ url_for('static', filename='pdf/vasundhara_gautam_cv.pdf') }}" width="100%" height="750px" type="application/pdf">
      </div>
    </main>
{% endblock %}
