{% extends "layout.html" %}

{% block short_title %}Music{% endblock %}

{% block title %}Music{% endblock %}
{% block subtitle %}Singing and piano{% endblock %}

{% block body %}
    <main role="main" class="container">
      <div class="container">
        <h4><a href="https://soundcloud.com/vasundhara-gautam/i-cant-make-you-love-me-adele-cover">I Can't Make You Love Me (Adele cover)</a></h4>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/929027305&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/vasundhara-gautam" title="Vasundhara Gautam" target="_blank" style="color: #cccccc; text-decoration: none;">Vasundhara Gautam</a> · <a href="https://soundcloud.com/vasundhara-gautam/i-cant-make-you-love-me-adele-cover" title="I Can&#x27;t Make You Love Me (Adele cover)" target="_blank" style="color: #cccccc; text-decoration: none;">I Can&#x27;t Make You Love Me (Adele cover)</a></div>
        <h4><a href="https://soundcloud.com/vasundhara-gautam/run-to-you-just-the-chorus">Run To You (Pentatonix cover - just the chorus)</a></h4>
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/907545082&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/vasundhara-gautam" title="Vasundhara Gautam" target="_blank" style="color: #cccccc; text-decoration: none;">Vasundhara Gautam</a> · <a href="https://soundcloud.com/vasundhara-gautam/run-to-you-just-the-chorus" title="Run To You (just the chorus) - Pentatonix cover" target="_blank" style="color: #cccccc; text-decoration: none;">Run To You (just the chorus) - Pentatonix cover</a></div>
        <h4><a href="https://www.youtube.com/watch?v=l5755n9orQY">Sajana Tuma (Hindustani classical - Raag Tilang)</a></h4>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/l5755n9orQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4><a href="https://www.youtube.com/watch?v=DBKq10sKsMk">Jamming with Alfredo (Metallica piano)</a></h4>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/DBKq10sKsMk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </main>
{% endblock %}
